--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: subhash
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO subhash;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: subhash
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Difficulty; Type: TYPE; Schema: public; Owner: subhash
--

CREATE TYPE public."Difficulty" AS ENUM (
    'EASY',
    'MEDIUM',
    'HARD'
);


ALTER TYPE public."Difficulty" OWNER TO subhash;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: subhash
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'USER'
);


ALTER TYPE public."UserRole" OWNER TO subhash;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: List; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."List" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."List" OWNER TO subhash;

--
-- Name: Problem; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."Problem" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    difficulty public."Difficulty" NOT NULL,
    tags text[],
    "userId" text NOT NULL,
    examples jsonb NOT NULL,
    constraints jsonb NOT NULL,
    hints text,
    editorial text,
    testcases jsonb NOT NULL,
    "codeSnippets" jsonb NOT NULL,
    "referenceSolutions" jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Problem" OWNER TO subhash;

--
-- Name: ProblemsinList; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."ProblemsinList" (
    id text NOT NULL,
    "problemId" text NOT NULL,
    "listId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProblemsinList" OWNER TO subhash;

--
-- Name: SolvedProblems; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."SolvedProblems" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "problemId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SolvedProblems" OWNER TO subhash;

--
-- Name: Submission; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."Submission" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "problemId" text NOT NULL,
    language text NOT NULL,
    "sourceCode" jsonb NOT NULL,
    "time" text,
    memory text,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Submission" OWNER TO subhash;

--
-- Name: TestcaseResult; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."TestcaseResult" (
    id text NOT NULL,
    "submissionId" text NOT NULL,
    "testcaseNumber" integer NOT NULL,
    accepted boolean NOT NULL,
    stdin text,
    stdout text,
    stderr text,
    "compileOutput" text,
    status text NOT NULL,
    "time" text,
    memory text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TestcaseResult" OWNER TO subhash;

--
-- Name: User; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    avatar text,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    username text NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."User" OWNER TO subhash;

--
-- Name: UserOtpVerification; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public."UserOtpVerification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    otp text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserOtpVerification" OWNER TO subhash;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: subhash
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO subhash;

--
-- Data for Name: List; Type: TABLE DATA; Schema: public; Owner: subhash
--

COPY public."List" (id, name, description, "userId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Problem; Type: TABLE DATA; Schema: public; Owner: subhash
--



--
-- Data for Name: ProblemsinList; Type: TABLE DATA; Schema: public; Owner: subhash
--

COPY public."ProblemsinList" (id, "problemId", "listId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SolvedProblems; Type: TABLE DATA; Schema: public; Owner: subhash
--

COPY public."SolvedProblems" (id, "userId", "problemId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Submission; Type: TABLE DATA; Schema: public; Owner: subhash
--



--
-- Data for Name: TestcaseResult; Type: TABLE DATA; Schema: public; Owner: subhash
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: subhash
--

COPY public."User" (id, name, email, avatar, role, password, "createdAt", "updatedAt", username, "isVerified") FROM stdin;
5f5d1598-09a0-450b-831e-369552cec787	Subhash	sai@gmail.com	\N	ADMIN	$2b$10$4keOOYl0ADtehha.BRCX1ehLYjIyyPpOu9O5iLiC4EBIBBzgufKJ.	2025-06-05 18:43:51.608	2025-06-11 06:46:52.314	sai	t
391eedf5-8268-4bd6-99c9-d37964e93b4d	subhash	subhashv2864@gmail.com	\N	ADMIN	$2b$10$86MleNDPLhxnoTiLqUeh3.gEusE8Ea.gAUQlmk9a5vjC0V161LSvS	2025-06-05 20:18:04.276	2025-06-11 07:08:43.393	subhashv2864	t
\.


--
-- Data for Name: UserOtpVerification; Type: TABLE DATA; Schema: public; Owner: subhash
--

COPY public."UserOtpVerification" (id, "userId", otp, "createdAt", "expiresAt") FROM stdin;
33b1cac7-0d7f-4de4-ae4e-4402424f7f51	391eedf5-8268-4bd6-99c9-d37964e93b4d	933193	2025-06-11 07:07:50.911	2025-06-11 07:08:14.326
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: subhash
--



--
-- Name: List List_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."List"
    ADD CONSTRAINT "List_pkey" PRIMARY KEY (id);


--
-- Name: Problem Problem_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."Problem"
    ADD CONSTRAINT "Problem_pkey" PRIMARY KEY (id);


--
-- Name: ProblemsinList ProblemsinList_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."ProblemsinList"
    ADD CONSTRAINT "ProblemsinList_pkey" PRIMARY KEY (id);


--
-- Name: SolvedProblems SolvedProblems_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."SolvedProblems"
    ADD CONSTRAINT "SolvedProblems_pkey" PRIMARY KEY (id);


--
-- Name: Submission Submission_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."Submission"
    ADD CONSTRAINT "Submission_pkey" PRIMARY KEY (id);


--
-- Name: TestcaseResult TestcaseResult_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."TestcaseResult"
    ADD CONSTRAINT "TestcaseResult_pkey" PRIMARY KEY (id);


--
-- Name: UserOtpVerification UserOtpVerification_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."UserOtpVerification"
    ADD CONSTRAINT "UserOtpVerification_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: List_name_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "List_name_key" ON public."List" USING btree (name);


--
-- Name: Problem_title_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "Problem_title_key" ON public."Problem" USING btree (title);


--
-- Name: ProblemsinList_listId_problemId_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "ProblemsinList_listId_problemId_key" ON public."ProblemsinList" USING btree ("listId", "problemId");


--
-- Name: SolvedProblems_userId_problemId_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "SolvedProblems_userId_problemId_key" ON public."SolvedProblems" USING btree ("userId", "problemId");


--
-- Name: TestcaseResult_submissionId_idx; Type: INDEX; Schema: public; Owner: subhash
--

CREATE INDEX "TestcaseResult_submissionId_idx" ON public."TestcaseResult" USING btree ("submissionId");


--
-- Name: UserOtpVerification_userId_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "UserOtpVerification_userId_key" ON public."UserOtpVerification" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: subhash
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: List List_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."List"
    ADD CONSTRAINT "List_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Problem Problem_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."Problem"
    ADD CONSTRAINT "Problem_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProblemsinList ProblemsinList_listId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."ProblemsinList"
    ADD CONSTRAINT "ProblemsinList_listId_fkey" FOREIGN KEY ("listId") REFERENCES public."List"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProblemsinList ProblemsinList_problemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."ProblemsinList"
    ADD CONSTRAINT "ProblemsinList_problemId_fkey" FOREIGN KEY ("problemId") REFERENCES public."Problem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SolvedProblems SolvedProblems_problemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."SolvedProblems"
    ADD CONSTRAINT "SolvedProblems_problemId_fkey" FOREIGN KEY ("problemId") REFERENCES public."Problem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SolvedProblems SolvedProblems_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."SolvedProblems"
    ADD CONSTRAINT "SolvedProblems_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Submission Submission_problemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."Submission"
    ADD CONSTRAINT "Submission_problemId_fkey" FOREIGN KEY ("problemId") REFERENCES public."Problem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Submission Submission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."Submission"
    ADD CONSTRAINT "Submission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TestcaseResult TestcaseResult_submissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."TestcaseResult"
    ADD CONSTRAINT "TestcaseResult_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES public."Submission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserOtpVerification UserOtpVerification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: subhash
--

ALTER TABLE ONLY public."UserOtpVerification"
    ADD CONSTRAINT "UserOtpVerification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: subhash
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

